In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import statsmodels.api as sm
import numpy as np

da = pd.read_csv("./data/nhanes_2015_2016.csv")
da.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [2]:
da.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

## Question 1

Relabel the marital status variable DMDMARTL to have brief but informative character labels. Then construct a frequency table of these values for all people, then for women only, and for men only. Then construct these three frequency tables using only people whose age is between 30 and 40.

In [3]:
da["DMDMARTL"].fillna("Missing").value_counts()

1.0        2780
5.0        1004
3.0         579
6.0         527
2.0         396
Missing     261
4.0         186
77.0          2
Name: DMDMARTL, dtype: int64

In [18]:
#Releveling the Martial Status
da["DMDMARTLx"] = da["DMDMARTL"].replace({1:"Married",2:"Widowed",3:"Divorced",4:"Separated",5:"Never Married",6:"Living with partner",77:"Refused",99:"Don't know"})
da["DMDMARTLx"].value_counts()
da["RIAGENDRx"] = da["RIAGENDR"].replace({1: "Male", 2: "Female"})
da["agegrp"] = pd.cut(da.RIDAGEYR, [30, 40])
da.groupby("agegrp")["DMDMARTLx"].value_counts()

agegrp    DMDMARTLx
(30, 40]  Married                516
          Never Married          186
          Living with partner    129
          Divorced                67
          Separated               29
          Widowed                  4
          Refused                  1
Name: DMDMARTLx, dtype: int64

In [17]:
da["DMDMARTLx"].value_counts()

Married                2780
Never Married          1004
Divorced                579
Living with partner     527
Widowed                 396
Separated               186
Refused                   2
Name: DMDMARTLx, dtype: int64

In [6]:
da.groupby("RIAGENDRx")["DMDMARTLx"].value_counts()

RIAGENDRx  DMDMARTLx
Female     Married                1303
           Never Married           520
           Divorced                350
           Widowed                 296
           Living with partner     262
           Separated               118
           Refused                   1
Male       Married                1477
           Never Married           484
           Living with partner     265
           Divorced                229
           Widowed                 100
           Separated                68
           Refused                   1
Name: DMDMARTLx, dtype: int64

__Q1a.__ Briefly comment on some of the differences that you observe between the distribution of marital status between women and men, for people of all ages.

From the above Distribution of the martial status of Men & Women, We can see that 
    1. More men are married than of Women.
    2. It seems more women are divorced than men.
    3. Most of indiaviduals in women are likely to be lost their partners.

__Q1b.__ Briefly comment on the differences that you observe between the distribution of marital status states for women between the overall population, and for women between the ages of 30 and 40.

In [24]:
# Getting the Data of the Men and Women from Age Group 30-40
x = da.groupby(["agegrp","RIAGENDRx"])["DMDMARTLx"].value_counts()
x /=  x.sum()
# da.groupby(["agegrp","RIAGENDRx"])["DMDMARTLx"].value_counts()
x

agegrp    RIAGENDRx  DMDMARTLx
(30, 40]  Female     Married                0.276824
                     Never Married          0.104077
                     Living with partner    0.061159
                     Divorced               0.046137
                     Separated              0.018240
                     Widowed                0.002146
          Male       Married                0.276824
                     Never Married          0.095494
                     Living with partner    0.077253
                     Divorced               0.025751
                     Separated              0.012876
                     Widowed                0.002146
                     Refused                0.001073
Name: DMDMARTLx, dtype: float64

In [10]:
# Getting the Data of the Akk Men and Women
y = da.groupby("RIAGENDRx")["DMDMARTLx"].value_counts()
y /= y.sum()
y

RIAGENDRx  DMDMARTLx
Female     Married                0.238034
           Never Married          0.094995
           Divorced               0.063939
           Widowed                0.054074
           Living with partner    0.047863
           Separated              0.021556
           Refused                0.000183
Male       Married                0.269821
           Never Married          0.088418
           Living with partner    0.048411
           Divorced               0.041834
           Widowed                0.018268
           Separated              0.012422
           Refused                0.000183
Name: DMDMARTLx, dtype: float64

1. From overall women martial status we can see that where 23% of Female are married Where 27% women are of the age range 30-40.
2. We can see here that from overall women around 2% are separated but 1% are separated in this age range which is 14% are from this range which are separated.

__Q1c.__ Repeat part b for the men.

1. From overall men martial status we can see that where 26% of Men are married Where 27% men are of the age range 30-40.
2. We can see here that from overall women around 2% are separated but 1% are separated in this age range which is 14% are from this range which are separated.

## Question 2

Restricting to the female population, stratify the subjects into age bands no wider than ten years, and construct the distribution of marital status within each age band.  Within each age band, present the distribution in terms of proportions that must sum to 1.

In [55]:
da["male"] = pd.cut(da.RIAGENDR,[0,1])
# da["male"].dropna().value_counts()

da["agegrpx"] = pd.cut(da.RIDAGEYR,[10,20,30,40,50,60,70,80])
da["agegrpx"].value_counts()

z = da.groupby(["male", "agegrpx"])["DMDMARTLx"].value_counts()
z /= z.sum() 
z * 100

male    agegrpx   DMDMARTLx
(0, 1]  (10, 20]  Never Married           1.371951
                  Living with partner     0.114329
                  Married                 0.038110
        (20, 30]  Never Married           8.612805
                  Married                 3.925305
                  Living with partner     3.506098
                  Separated               0.266768
                  Divorced                0.076220
                  Widowed                 0.076220
        (30, 40]  Married                 9.832317
                  Never Married           3.391768
                  Living with partner     2.743902
                  Divorced                0.914634
                  Separated               0.457317
                  Widowed                 0.076220
                  Refused                 0.038110
        (40, 50]  Married                10.746951
                  Never Married           1.486280
                  Divorced                1.295732
                  Living with partner     1.257622
                  Separated               0.419207
                  Widowed                 0.076220
        (50, 60]  Married                11.280488
                  Divorced                2.172256
                  Never Married           1.791159
                  Living with partner     1.295732
                  Separated               0.381098
                  Widowed                 0.381098
        (60, 70]  Married                11.089939
                  Divorced                2.096037
                  Never Married           1.448171
                  Living with partner     0.838415
                  Widowed                 0.647866
                  Separated               0.533537
        (70, 80]  Married                 9.375000
                  Widowed                 2.553354
                  Divorced                2.172256
                  Separated               0.533537
                  Living with partner     0.342988
                  Never Married           0.342988
Name: DMDMARTLx, dtype: float64

__Q2a.__ Comment on the trends that you see in this series of marginal distributions.

We can see here that The age of the marrige ranges between 20-30 and most of them remain married for 60 to 70 years
We can see that now a days most young people in 10 to 30 prefers to live with partner before marriage 
Men are getting divorced from their partners from 30 to 40 and its increasing to around 65
Most men lost their partners at 70 and above rather than other ages...

In [58]:
da["female"] = pd.cut(da.RIAGENDR,[1,2])
# da["male"].dropna().value_counts()

da["agegrpx"] = pd.cut(da.RIDAGEYR,[10,20,30,40,50,60,70,80])
da["agegrpx"].value_counts()

z = da.groupby(["female", "agegrpx"])["DMDMARTLx"].value_counts()
z /= z.sum() 
z * 100

female  agegrpx   DMDMARTLx
(1, 2]  (10, 20]  Never Married           1.052632
                  Living with partner     0.280702
                  Married                 0.035088
        (20, 30]  Never Married           8.035088
                  Married                 5.508772
                  Living with partner     3.719298
                  Divorced                0.385965
                  Separated               0.385965
        (30, 40]  Married                 9.052632
                  Never Married           3.403509
                  Living with partner     2.000000
                  Divorced                1.508772
                  Separated               0.596491
                  Widowed                 0.070175
        (40, 50]  Married                10.105263
                  Divorced                2.421053
                  Never Married           2.210526
                  Living with partner     1.298246
                  Separated               1.157895
                  Widowed                 0.421053
        (50, 60]  Married                 9.017544
                  Divorced                2.912281
                  Never Married           1.473684
                  Living with partner     1.122807
                  Widowed                 0.982456
                  Separated               0.947368
                  Refused                 0.035088
        (60, 70]  Married                 7.438596
                  Divorced                2.982456
                  Widowed                 2.280702
                  Never Married           1.333333
                  Separated               0.771930
                  Living with partner     0.666667
        (70, 80]  Widowed                 6.631579
                  Married                 4.561404
                  Divorced                2.070175
                  Never Married           0.736842
                  Separated               0.280702
                  Living with partner     0.105263
Name: DMDMARTLx, dtype: float64